/*--------------------------------------------------------------
# Custom Variables
--------------------------------------------------------------*/

$gray-100: #f9f9f9;
$gray-200: #f4f4f4;
$blue: #2993dd;